html {
  background: url(/photos/background/download.jpg) no-repeat center fixed; 
  background-size: cover;
}

nav {
  background: #333;
  color: white;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 25px;
}

.footer {
  background: #333;
  color: white;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 15px;
  text-align: center;
}

/* Hoverable button */

.button {
  display: inline-block;
  border-radius: 4px;
  background-color: green;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 10px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 2px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.col-md-4 > img {
  width: 200px;
  height: 200px;
}

/* -- */

nav span.title {
  font-family: 'Times New Roman', Times, serif;
  display: block;
  text-align: center;
  font-size: 2em;
}

span.version {
  font-size: 12px;
  display: block;
  position: relative;
  text-align: center;
}

.centerPhoto {
  padding-top: 3em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.title {
  font-family: 'Titan One', cursive;
}

.gAction {
  text-align: center;
  font-size: 35px;
  font-family: 'Alfa Slab One', cursive;
}

body {
  text-align: justify, center;
  padding-left: 50px;
  padding-right: 50px;
  background-color: blue;
}

.quote {
  font-family: 'Permanent Marker', cursive;
  text-align: center;
  font-size: 25px;
}

.person {
  text-align: end;
}

p {
  font-family: 'Muli', sans-serif;
  font-size: 20px;
}

.skills {
  font-family: 'Muli' sans-serif;
  font-size: 20px;
}

/* Slideshow CSS */

* {
  box-sizing: border-box;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 20%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 35px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color:#FFFFFF;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

/* End Slideshow CSS */

@media screen and (min-width: 1200px) {
  body {
    background-color: antiquewhite;
  }
}